* {
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-from h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}